<a href="https://colab.research.google.com/github/sjleee95/2024KPMGFutureAcademy/blob/Python-300%EC%A0%9C/Python_300%EC%A0%9C(71_80)%5Btuple%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**071**

my_variable 이름의 비어있는 튜플을 만들라.

In [1]:
my_variable = ()

type(my_variable)

tuple

**072**

2016년 11월 영화 예매 순위 기준 top3는 다음과 같다.

영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

순위	영화

1	닥터 스트레인지

2	스플릿

3	럭키

In [2]:
movie_rank = ("닥터 스트레인지","스플릿","럭키")

print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

**073**

숫자 1 이 저장된 튜플을 생성하라.

In [5]:
#아래와 같이 괄호와 함께 하나의 정숫값을 저장하면 튜플이 정의 될 것같지만 그렇지 않습니다. type()을 출력해보면 파이썬은 튜플이 아닌 정수로 인식합니다.

tuple_test = (1,)

type(tuple_test)

tuple

**074**

다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

>> t = (1, 2, 3)

>> t[0] = 'a'

Traceback (most recent call last):

  File "<pyshell#46>", line 1, in <module>

    t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [6]:
#tuple의 원소는 list와 다르게 바꿀 수 없다.
t = (1, 2, 3)

t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

**075**

아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다.

t가 바인딩하는 데이터 타입은 무엇인가?

t = 1, 2, 3, 4

In [10]:
t = 1,2,3,4
c = "1","2","3","4"

type(c)

tuple

**076**

변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')

In [12]:
t = ('a', 'b', 'c')

#튜플의 값은 변경할 수 없기 때문에, 리스트와 달리 아래 코드는 동작하지 않습니다.
t[0] = 'A'
#새로운 튜플을 만들고 t 라는 변수를 업데이트 해야 합니다. 기존의 튜플 ('a', 'b', 'c')은 자동으로 삭제됩니다.
t = ('A', 'b', 'c')

AttributeError: 'tuple' object has no attribute 'upper'

**077**

다음 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')

In [15]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')

list(interest)

print(type(interest))
print(interest)

<class 'tuple'>
('삼성전자', 'LG전자', 'SK Hynix')

**078**

다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']

In [18]:
#여기서는 왜 data로 바꾸는 것일까??

interest = ['삼성전자', 'LG전자', 'SK Hynix']

data = tuple(interest)

type(data)

tuple

**071** 튜플 언팩킹

다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')

a, b, c = temp

print(a, b, c)

In [19]:
#가설 : 각자 대응된다?
temp = ('apple', 'banana', 'cake')

a, b, c = temp

print(a, b, c)

apple banana cake

**080** range 함수

1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

(2, 4, 6, 8 ... 98)

In [24]:
#1
a = list(range(2,100,2))

a = tuple(a)

print(type(a))
print(a)

#2 답지

data = tuple(range(2, 100, 2))
print( data )

<class 'tuple'>
(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)
(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)