<a href="https://colab.research.google.com/github/sjleee95/2024KPMGFutureAcademy/blob/Python-300%EC%A0%9C/Python_300%EC%A0%9C(61_70)%5Blist%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**061**

price 변수에는 날짜와 종가 정보가 저장돼 있다.

날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]

출력 예시:
[100, 130, 140, 150, 160, 170]

In [ ]:
price = ['20180728',100,130,140,150,160,170]

price[1:7]

[100, 130, 140, 150, 160, 170]

**062**

슬라이싱을 사용해서 홀수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

실행 예:
[1, 3, 5, 7, 9]

In [ ]:
nums = [1,2,3,4,5,6,7,8,9,10]

#1
print(nums[0:9:2])

#2
print(nums[::2])

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

**063**

슬라이싱을 사용해서 짝수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

실행 예:

[2, 4, 6, 8, 10]

In [ ]:
nums = [1,2,3,4,5,6,7,8,9,10]

#1
print(nums[1:10:2])

#2
print(nums[1::2])

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

**064**

슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

nums = [1, 2, 3, 4, 5]

실행 예:
[5, 4, 3, 2, 1]

In [ ]:
nums = [1,2,3,4,5]

#1
print(nums[::-1])

#2
print(nums[-1::-1])

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

**065**

interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver']

interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:

삼성전자 Naver

In [1]:
interest = ['삼성전자', 'LG전자', 'Naver']

In [3]:
print(interest[0],interest[2])

삼성전자 Naver

**066** join 메서드

interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [7]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print(interest[0],interest[1],interest[2],interest[3],interest[4])

print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

**067** join 메서드

interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [8]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print(interest)
print("/".join(interest))

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

**068**

join 메서드

interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

출력 예시:

삼성전자

LG전자

Naver

SK하이닉스

미래에셋대우

In [9]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

**069**

회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

string = "삼성전자/LG전자/Naver"
이를 interest 이름의 리스트로 분리 저장하라.

실행 예시
>> print(interest)

['삼성전자', 'LG전자', 'Naver']

In [13]:
string = "삼성전자/LG전자/Naver"

string.split("/")

['삼성전자', 'LG전자', 'Naver']

**070** 리스트 정렬(Sort)

리스트에 있는 값을 오름차순으로 정렬하세요.

data = [2, 4, 3, 1, 5, 10, 9]

In [19]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)
print(data2)

[1, 2, 3, 4, 5, 9, 10]
[1, 2, 3, 4, 5, 9, 10]

In [22]:
dat = [1,4,5,56,32,3,9]
print(dat)

dat.sort()
print(dat)

[1, 4, 5, 56, 32, 3, 9]
[1, 3, 4, 5, 9, 32, 56]