<a href="https://colab.research.google.com/github/sjleee95/2024KPMGFutureAcademy/blob/Python-300%EC%A0%9C/Python_300%EC%A0%9C(31_40)%5Bstring%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**031** 문자열 합치기

아래 코드의 실행 결과를 예상해보세요.

>> a = "3"

>> b = "4"

>> print(a + b)

In [1]:
#처음에는 실행이 되지 않을 것이라 생각했으나, 문자열 + 문자열 = 문자열문자열

#따라서, 34

a = "3"
b = "4"

print(a+b)

34

**032** 문자열 곱하기

아래 코드의 실행 결과를 예상해보세요.

>> print("Hi" * 3)

In [3]:
#Hi Hi Hi   - 띄어쓰기와 함께 출력되지 않을까

#가설 기각. 붙여서 출력된다.

print("Hi"*3)

HiHiHi

**033** 문자열 곱하기

화면에 '-'를 80개 출력하세요.

실행 예:

--------------------------------------------------------------------------------

In [5]:
#1
print("-"*80)

--------------------------------------------------------------------------------

**034** 문자열 곱하기

변수에 다음과 같은 문자열이 바인딩되어 있습니다.

>>> t1 = 'python'

>>> t2 = 'java'

변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

실행 예:

python java python java python java python java

In [10]:
t1 = 'python'

t2 = 'java'

#1
print((t1 + " " + t2 + " ")*4)

#2
t3 = t1 + " " + t2 + " "

print(t3*4)

python java python java python java python java
python java python java python java python java

**035** 문자열 출력

변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수"

age1 = 10

name2 = "이철희"

age2 = 13

이름: 김민수 나이: 10

이름: 이철희 나이: 13

In [13]:
name1 = "김민수"

age1 = 10

name2 = "이철희"

age2 = 13

# 내 방식이지만, % formatting을 사용하지 않음.
print(f"이름:{name1} 나이:{age1}")
print(f"이름:{name2} 나이:{age2}")

#print 포맷팅에서 `%s`는 문자열 데이터 타입의 값을 `%d`는 정수형 데이터 타입 값의 출력을 의미합니다.

print("이름:%s 나이:%d" % (name1, age1))
print("이름:%s 나이:%d" % (name2, age2))

이름:김민수 나이:10
이름:이철희 나이:13
이름:김민수 나이:10
이름:이철희 나이:13

**036** 문자열 출력

문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [15]:
name1 = "김민수"

age1 = 10

name2 = "이철희"

age2 = 13

print("이름:{} 나이:{}".format(name1, age1))
print("이름:{} 나이:{}".format(name2, age2))

이름:김민수 나이:10
이름:이철희 나이:13

**037** 문자열 출력

파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [16]:
name1 = "김민수"

age1 = 10

name2 = "이철희"

age2 = 13

print(f"이름:{name1} 나이:{age1}")
print(f"이름:{name2} 나이:{age2}")

이름:김민수 나이:10
이름:이철희 나이:13

**038** 컴마 제거하기

삼성전자의 상장주식수가 다음과 같습니다.

컴마를 제거한 후 이를 정수 타입으로 변환해보세요.


상장주식수 = "5,969,782,550"

In [25]:
#GPT
상장주식수 = "5,969,782,550"

# strip 메서드는 문자열 양 끝의 ,만 제거함
sangjang = 상장주식수.strip(',')

print(sangjang)  # 출력: "5,969,782,550" (변화 없음)

# replace 메서드는 문자열의 모든 ,를 제거함
sangjang2 = 상장주식수.replace(",", "")

print(sangjang2)  # 출력: "5969782550"

sangjang2 = int(sangjang2)

print(type(sangjang2))  # 출력: <class 'int'>
print(sangjang2)        # 출력: 5969782550

5,969,782,550
5969782550
<class 'int'>
5969782550

In [24]:
상장주식수 = "5,969,782,550"

print(type(상장주식수))

sangjang = 상장주식수.strip(',')

print(sangjang)

sangjang2 = 상장주식수.replace(",","")

sangjang2 = int(sangjang2)

print(type(sangjang2))
print(sangjang2)

<class 'str'>
5,969,782,550
<class 'int'>
5969782550

**039** 문자열 슬라이싱

다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"

In [28]:
#1
분기 = "2020/03(E) (IFRS연결)"

분분기 = 분기.replace("(E) (IFRS연결)","")

print(분분기)

#2 -문자열 !
print(분기[:7])

2020/03
2020/03

**040** strip 메서드

문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "  삼성전자    "

In [30]:
data =' 삼성전자 '

data = data.strip(" ")

print(data)

삼성전자