<a href="https://colab.research.google.com/github/sjleee95/2024KPMGFutureAcademy/blob/Python-300%EC%A0%9C/Python_300%EC%A0%9C(11_20).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**011** 변수 사용하기

삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [7]:
#1

삼성전자 = 50000

총평가금액 = 10*삼성전자

print(총평가금액)

500000

**012** 변수 사용하기

다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요. #바인딩이란?

항목	값


시가총액	298조


현재가	50,000원


PER	15.79

In [9]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

**013** 문자열 출력

변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

>> s = "hello"


>> t = "python"


두 변수를 이용하여 아래와 같이 출력해보세요.


실행 예:


hello! python

In [14]:
s = "hello"
t = "python"

print(s + "! " + t)

hello! python

**014** 파이썬을 이용한 값 계산

아래 코드의 실행 결과를 예상해보세요. #8

>> 2 + 2 * 3

In [15]:
2+2*3

8

**015** type 함수


type() 함수는 데이터 타입을 판별합니다.

변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

>> a = 128


>> print (type(a))


>> <class 'int'>


아래 변수에 바인딩된 값의 타입을 판별해보세요. # type(a) = str

>> a = "132"

In [16]:
a = '132'
print(type(a))

<class 'str'>

**016** 문자열을 정수로 변환


문자열 '720'를 정수형으로 변환해보세요.


>> num_str = "720"

In [18]:
num_str = "720"

num_str = int(num_str)

print(num_str)

print(num_str+1, type(num_str))

720
721 <class 'int'>

**017** 정수를 문자열 100으로 변환

정수 100을 문자열 '100'으로 변환해보세요.

num = 100

In [20]:
num = 100

num = str(num)

print(num, type(num))

100 <class 'str'>

**018** 문자열을 실수로 변환


문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [21]:
a = "15.79"

print(a, type(a))

a = float(a)

print(a, type(a))

15.79 <class 'str'>
15.79 <class 'float'>

**019** 문자열을 정수로 변환


year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다.


이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.


year = "2020"

In [25]:
year = "2020"

year = int(year)

최근3년의연도 = (year-3, year-2, year-1)

print(최근3년의연도)

(2017, 2018, 2019)

**020** 파이썬 계산


에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다.

총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [27]:
월금액 = 48584
할부기간 = 36

총금액 = 월금액*할부기간

print(총금액)

1749024