<a href="https://colab.research.google.com/github/sjleee95/2024KPMGFutureAcademy/blob/Python-300%EC%A0%9C/Python_300%EC%A0%9C(51_60)%5Blist%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**051** 리스트 생성


2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다.

영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

![image.png]()

In [ ]:
#2016 영화예매 순위 기준

movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

**052**

051의 movie_rank 리스트에 "배트맨"을 추가하라.

In [ ]:
#append 사용

movie_rank.append("배트맨")

print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨', '배트맨']

**053**

movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다.

"슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
#insert

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

movie_rank.insert( 2, "슈퍼맨")

**054**

movie_rank 리스트에서 '럭키'를 삭제하라

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
#1
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

movie_rank.remove("럭키")

print(movie_rank)

#2
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

del movie_rank[3]

print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

**055**

movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
#리스트 안의 요소를 지우면 다시 인덱싱이 되고, 연속된 것을 지우고 싶다면 시작점의 포인트를 두 번 입력하는 방법이 잇다.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

del movie_rank[2]
del movie_rank[2]

print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

**056**

lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

>> lang1 = ["C", "C++", "JAVA"]

>> lang2 = ["Python", "Go", "C#"]

실행 예:

>> langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
lang1 = ["C", "C++", "JAVA"]

lang2 = ["Python", "Go", "C#"]


langs = lang1 + lang2

**057**

다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

nums = [1, 2, 3, 4, 5, 6, 7]

실행 예:

max:  7

min:  1

In [10]:
nums = [1,2,3,4,5,6,7]

#1
print(f'max:{max(nums)}')

print(f'min:{min(nums)}')

#2
print("max: ",max(nums))
print("min: ",min(nums))

max:7
min:1
max:  7
min:  1

**058**

다음 리스트의 합을 출력하라.

nums = [1, 2, 3, 4, 5]

실행 예:

15

In [14]:
nums = [1,2,3,4,5]

#모범답안
print(sum(nums))

#이가 없으면 잇몸으로 하라
print(nums[0]+nums[1]+nums[2]+nums[3]+nums[4])

15
15

**059**

다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

In [16]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

#len() - 문자열 길이 반환 함수

print(len(cook))

12

**060**

다음 리스트의 평균을 출력하라.

nums = [1, 2, 3, 4, 5]

실행 예:

3.0

In [19]:
#위의 것 응용

nums = [1,2,3,4,5]

average = sum(nums)/len(nums)

print(average)

3.0