<a href="https://colab.research.google.com/github/sjleee95/2024KPMGFutureAcademy/blob/Python-300%EC%A0%9C/Python_300%EC%A0%9C(41_50)%5Bstring%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**041** upper 메서드

다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"

In [ ]:
ticker = "btc_krw"

ticker = ticker.upper()

print(ticker)

BTC_KRW

**042** lower 메서드


다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker = "BTC_KRW"

In [ ]:

ticker = "BTC_KRW"

ticker = ticker.lower()

print(ticker)

btc_krw

**043** capitalize 메서드

문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [ ]:
a = 'hello'

a = a.capitalize()

print(a)

Hello

**044** endswith 메서드

파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"

In [ ]:
file_name = "보고서.xlsx"

file_name.endswith("xlsx")

True


**045** endswith 메서드

파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"

In [ ]:
file_name = "보고서.xlsx"

# 내 방식
print(file_name.endswith("xlsx"))
print(file_name.endswith("xls"))

## 정답 - 더 편하게 가능...이 아니라 이것이 정답. xlsx '또는' xls이기 때문에 진리값을 구해야 한다.


file_name.endswith(("xlsx","xls"))

True
False

True

**046** startswith 메서드

파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"

In [ ]:
file_name = "2020_보고서.xlsx"

file_name.startswith('2020')

True

**047** split 메서드

다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

a = "hello world"

In [ ]:
# 공백 데이터는 굳이 "" 사용하지 않아도 괜찮다.

a = "hello world"
print(a.split(" "))
print(a.split())

['hello', 'world']
['hello', 'world']

**048** split 메서드

다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"

In [ ]:
ticker = "btc_krw"

ticker.split("_")

['btc', 'krw']

**049** split 메서드

다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"

In [ ]:
date = "2020-04-01"

date.split("-")

['2020', '04', '01']

**050** rstrip 메서드

문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

data = "039490   "

In [ ]:
data = "039490 "

data.rstrip()

'039490'